{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<div style="display: flex; gap: 20px; flex-wrap: wrap; justify-content: center;">
    <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/DATW-V7OJ36/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:300px; min-width:250px; padding:0; width:100%;">
    </blockquote>

    <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/DATW0mZOHYN/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:300px; min-width:250px; padding:0; width:100%;">
    </blockquote>
</div>

<script async src="//www.instagram.com/embed.js"></script>

{% endblock %}
